.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.2);
}
.site-layout .site-layout-background {
  background: #fff;
}
[data-theme="dark"] .site-layout .site-layout-background {
  background: #141414;
}
.site-page-header {
  border: 1px solid rgb(235, 237, 240);
}

.ant-layout-content {
  height: 100vh !important;
}

/* .ant-breadcrumb {
  margin: 100px 0px  !important;
} */

.ant-layout-content {
  max-height: 600px !important;
}
